body {
    font-family: 'Roboto', sans-serif;
}

.botao {
    /* background-color: #8257E5; */
    background-color: #633BBC;
    color: #FFFFFF;
    border: none;
}

.botao:hover {
    background-color: #8257E5;
    color: #FFFFFF;
    border: none;
}